name: Testing
on:
  pull_request:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '*.md'
    tags-ignore: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ "3.12" ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '${{ matrix.python }}'

      - name: Bootstrap environment
        run: ./bootstrap

      - name: Lint Check
        run: pre-commit run --all-files

      - name: Run tests
        run: pytest

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./build/coverage.xml
          flags: unittests
