name: Testing
on:
  pull_request:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '*.rst'
    tags-ignore: [ "*" ]

env:
  TEST_HOST: postgres

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ "3.12" ]
    steps:
      -
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '${{ matrix.python }}'

      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "America/New_York"

      - name: Bootstrap environment
        run: ./bootstrap

      - name: Lint Check
        run: pre-commit run --all-files

      - name: Run tests
        run: pytest --cov --cov-report=xml
      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          files: ./build/coverage.xml
          flags: unittests
